.results-panel {
   flex-grow: 1;
}

.results-panel .p-panel-content {
   display: flex;
   align-items: center;
   justify-content: center;
}

.results-panel .p-chart {
   flex-grow: 1;
}

.no-results-msg {
   font-size: 1.2rem;
   font-weight: 700;
}